@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    background-color: #c7c7c7;
}



main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}

div{
    width: 75%;
    background-color: #6c7b91;
    max-width: 300px;
    color: #DDDDDD;
    max-height: 500px;
    padding: 30px;
    margin-top: 20px;
    box-shadow: 10px 10px 0px -2px rgba(0,0,0,1);
    -webkit-box-shadow: 10px 10px 0px -2px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 0px -2px rgba(0,0,0,1);
    border-radius: 20px;
}

div:hover {
    transform: scale(1.05);
    transition: all 0.2s;

}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

form label, input{
    margin-top: 15px;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #30475E;
    color: #DDDDDD;
    height: 40px;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover{
    background-color: #F05454; 
    transform: scale(1.1);
    transition: all 0.2s;
    color: #fff;
}

label{
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
}

input {
    background-color: #DDDDDD;
    border: none;
    border: 4px solid black;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    height: 30px;
    cursor: pointer;
}

input:hover {
    border: 4px solid #F05454;
}

input:focus{
    border: 5px solid #F05454;
}
